<div class="info">

  <header>
    {{name}}
  </header>
  <div class="info-image">
    <img {{bind-attr src=image}} alt="">
  </div>
  <div class="location">
    Location:
    <br>
    {{address}}
    {{city}}, {{state}} {{zip}}
  </div>
  <div class="body">
    <p>
      {{description}}
    </p>
  </div>

  {{outlet}}

</div>
